[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tqdm = "*"
numpy = "*"
pyyaml = "*"
soundfile = "*"
librosa = "*"
tensorflow = "==1.13.1"
"flake8" = "*"
pytorch-pretrained-bert = "*"
jiwer = "*"

[requires]
python_version = "3.6"
